* {
  margin: 0;
}
html, body {
  height: 100%;
  background: #dddddd;
}
.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -155px; 
}
.wrapper:after {
  content: "";
  display: block;
}
footer, .wrapper:after {
  height: 155px; 
}

.header{
background: #FFFFFF;
position: relative;
padding-bottom: 0px;
}

.name{
background-color: #4aaaa5;
position: relative;
padding: 25px 0px;
left: 140px;
text-align: center;
color: #ffffff;
width: 300px;
font-size: 35px;
font-weight: bold;
}

.toprightpanel{
background: #dddddd;
position: absolute;
padding-bottom: 90px;
right: 50px;
}

.about{
background-color: #ffffff;
position: absolute;
padding: 35px 30px 35px 30px;
text-align: center;
right: 365px;
color: #777777;
font-family: arial;
}

.portfolio{
background-color: #ffffff;
position: absolute;
padding: 35px 30px 35px 30px;
text-align: center;
right: 250px;
color: #777777;
font-family: arial;
}

.contact{
background-color: #ffffff;
position: absolute;
padding: 35px 30px 35px 30px;
text-align: center;
right: 140px;
color: #777777;
font-family: arial;
}

.mainhr{
background-color: #cccccc;
position: relative;
margin: 0px;
}

.content{
background-color: #ffffff;
position: relative;
margin-bottom: 30px;
padding: 20px;
width: 610px;
left: 140px;
top: 30px;
}

.connectwithme{
background-color: #ffffff;
position: absolute;
padding: 20px;
left: 690px;
top: 0px;
width: 230px;
}

img{
  float: left;
  padding: 10px 20px 10px;
  padding-left: 0px;
  height: 200px;
}

.icons{
height: 60px;
width: 60px;	
padding-right: 25px;
margin-right: 0px
}

.stack{
padding-right: 0px;
}

p{
color: #777777;
font-family: arial;
line-height: 200%;
}


.icons:hover { 
    -webkit-filter: invert(100%);
    filter: invert(100%);
    color: inherit;
}

h1{
font-family: georgia;
color: #4aaaa5;
font-size: 24px;
font-weight: bold;
padding-bottom: 20px;
}

h2{
font-family: georgia;
color: #4aaaa5;
font-size: 20px;
font-weight: bold;
padding-bottom: 20px;
}

.bottomband{
background: #4aaaa5;
position: absolute;
height: 10px;
top: 0px;
width: 100%;
}

footer{
background: #666666;
/*padding: 50px 0px 40px 0px;*/
position: relative;
text-align:  center;
color: #ffffff;
}