body{
	margin: 0px;
}

.header{
background: #FFFFFF;
position: relative;
margin: 0px;
padding-bottom: 0px;
}

.toprightpanel{
background: #ffffff;
position: absolute;
padding-bottom: 90px;
right: 50px;
}

.middle{
background: #dddddd;
position: relative;
padding-bottom: 600px;
overflow: auto;
}

.content{
background-color: #ffffff;
position: absolute;
margin: auto;
width: 650px;
padding: 20px;
left: 140px;
top: 30px;
}

.connect{
background-color: #ffffff;
position: absolute;
padding: 20px;
right: 300px;
top: 30px;
}

img{
  float: left;
  padding: 10px 20px 20px;
  padding-left: 0px;
}

.bottomband{
background: #4aaaa5;
position: relative;
padding-bottom: 10px;
bottom: auto;
margin: auto;
}

.footer{
background: #666666;
padding: 40px;
position: relative;
text-align: center;
color: #ffffff;
}

.about{
background-color: #ffffff;
position: absolute;
padding: 30px;
padding-bottom: 40px;
text-align: center;
right: 365px;
color: #777777;
font-family: arial;
}

.portfolio{
background-color: #ffffff;
position: absolute;
padding: 30px;
padding-bottom: 40px;
text-align: center;
right: 250px;
color: #777777;
font-family: arial;
}

.contact{
background-color: #ffffff;
position: absolute;
padding: 30px;
padding-bottom: 40px;
text-align: center;
right: 140px;
color: #777777;
font-family: arial;
}

.name{
background-color: #4aaaa5;
position: relative;
padding: 30px 0px 30px 40px;
left: 140px;
margin-right: 960px;
margin-top: 0px;
margin-bottom: 0px;
color: #ffffff;
}

p{
color: #777777;
font-family: arial;
}

h1{
font-family: georgia;
color: #4aaaa5;
}

h2{
font-family: georgia;
color: #4aaaa5;
}

.mainhr{
background-color: #cccccc;
padding: 0px;
top: 0px;
margin: 0px;
}