.relative{
background: #eee;
padding: 100px;
position: relative;
}

.absolute1{
background: #FF0000;
margin: 0px;
padding: 0px;
position: absolute;
height: 400px;
width: 600px;
}

img{
  float: left;
}
/*
.absolute2{
background: #999;
padding: 40px;
position: absolute;
bottom: 10px;
right: 20px;

}

.absolute3{
background: #999;
padding: 40px;
position: absolute;
bottom: 10px;
right: 20px;

}

.absolute4{
background: #999;
padding: 40px;
position: absolute;
bottom: 10px;
right: 20px;

}
*/